table {
  border-collapse: initial;
}

td {
  border: 1px solid black;
}

.dead {
  background-color: white !important;
  width: 5%;
  height: 5%;
}

.live {
  background-color: black !important;
  width: 5%;
  height: 5%;
}

.content {
  background-color: darkgrey;
}